@using BrightStar.Services.Application.Common.DTO
@model EventDto


<form method="post">
    <br />
    <input hidden asp-for="EventId" />
    <div class="container border p-3">
        <h1 class="text-white text-center">Update Event</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Event Code</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="EventCode" class="form-control" />
                <span asp-validation-for="EventCode" class="text-danger" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Title</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Date</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Start Time</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Time" class="form-control" type="time" />
                <span asp-validation-for="Time" class="text-danger" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Location</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Max Participants</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MaxParticipants" class="form-control" />
                <span asp-validation-for="MaxParticipants" class="text-danger" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Description</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="EventIndex" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit"  class="btn btn-success form-control" />
            </div>

        </div>

        <div>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

